/*

    Thanks, attributions & links
    *************************************
    Thanks to both Stryxin's dark mode module (https://github.com/Stryxin/dnd5edark-foundryvtt)
    and Felix's BetterNPCSheet module (https://github.com/syl3r86/BetterNPCSheet5e)
    which have both helped me tremendously in understanding how to structure my own
    module.
    Lovers Quarrel font: https://fonts.google.com/specimen/Lovers+Quarrel
    Anglo-text font: https://www.1001fonts.com/anglo-text-font.html
        For more drop-cap fonts: https://www.1001fonts.com/drop-caps-fonts.html
        And how to add them: https://www.pagecloud.com/blog/how-to-add-custom-fonts-to-any-website
    Dark background 1: https://www.publicdomainpictures.net/en/view-image.php?image=169017&picture=grunge-background
    Parchment 1, by FilterForge : https://www.flickr.com/photos/filterforge/9340122531

*/

/*
    Variables for uniform color control
*/
body {
    --dark-slate-dark-accent-color: #061a5e;
    --dark-slate-base-accent-color: #002394;
    --dark-slate-light-accent-color: #1b47d6;
    --dark-slate-translucent-accent-color: #00239440;

    --dark-slate-header-color: #bfbfbf;
    --dark-slate-base-text-color: #bfbfbf;
    --dark-slate-link-color: #3b56b1;
    --dark-slate-link-visited-color: #405494;

    --dark-slate-window-text-color: #bfbfbf;
    --dark-slate-button-background-color: #1a1a1a;
    --dark-slate-button-hover-color: #272727;
    
    --dark-slate-background-color: #a5afb4bb;
    --dark-slate-background-texture-image: url(../textures/dark-background-1.jpg);
}

/************************************************
	Headers and text
************************************************/

.dark-slate-journal h2,
.dark-slate-journal h1 {
    border-bottom: 1px solid var(--dark-slate-base-accent-color);
    color: var(--dark-slate-header-color);
}

.dark-slate-journal .editor-content>h3,
.dark-slate-journal .editor-content>h4,
.dark-slate-journal .editor-content>h5,
.dark-slate-journal .editor-content>h6 {
    color: var(--dark-slate-header-color);
}

.dark-slate-journal .editor-content>p {
    color: var(--dark-slate-base-text-color);
}

/* bullet-point list */
.dark-slate-journal .editor-content>ul {
  color: var(--dark-slate-base-text-color);
}



/************************************************
    Special text and highlights
************************************************/

.dark-slate-journal .editor-content>blockquote {
    color: var(--dark-slate-base-text-color);
}

/* Links (internet) */
.dark-slate-journal a:link {
    color: var(--dark-slate-link-color);
}

.dark-slate-journal a:visited {
    color: var(--dark-slate-link-visited-color);
}

.dark-slate-journal a:hover {
    color: var(--dark-slate-link-color);
    text-shadow: 0px 0px 2px var(--dark-slate-light-accent-color);
}

/* Links (entity, rolls) */
.dark-slate-journal a.entity-link, 
.dark-slate-journal a.inline-roll {
    background-color: var(--dark-slate-button-background-color);

}

/* Secret section */
.dark-slate-journal section.secret {
    color: var(--dark-slate-base-text-color);
    background-color: #df94ee20;
}

/* Modifies Polyglot CSS */
.dark-slate-journal .polyglot-journal {
    background-color: #00239440;
}

/* 
    OPTION Drop cap - you can add font and color options to this block, too!
    Changing sizes and fonts might require you to test and tweak quite a bit
    to get exactly the effect you want, but hey, drop caps are cool! 
*/
.dark-slate-journal span.drop-cap {
    float: left;
    font-family: 'anglo_textregular';
    font-size: 3em;
    line-height: 0.8em;
    padding-top: 0em;
    padding-bottom: 0em;
    color: var(--dark-slate-header-color);
}

/************************************************
    OPTION Added block styles
************************************************/
.dark-slate-journal section.simple-block {
    color: var(--dark-slate-base-text-color);
    background-color: var(--dark-slate-translucent-accent-color);
    border: 1px solid var(--dark-slate-base-accent-color);
    padding: 4px;
    margin-right: 2%;
    margin-left: 2%;
}

.dark-slate-journal section.simple-block-float {
    color: var(--dark-slate-base-text-color);
    background-color: var(--dark-slate-translucent-accent-color);
    border: 1px solid var(--dark-slate-base-accent-color);
    padding: 4px;
    margin-right: 2%;
    margin-left: 2%;
    width: 35%;
    float: right;
}

.dark-slate-journal section.ridged-block {
    color: var(--dark-slate-base-text-color);
    background-color: var(--dark-slate-translucent-accent-color);
    border: 5px ridge var(--dark-slate-base-accent-color);
    padding: 4px;
    margin-right: 2%;
    margin-left: 2%;
}

.dark-slate-journal section.ridged-block-float {
    color: var(--dark-slate-base-text-color);
    background-color: var(--dark-slate-translucent-accent-color);
    border: 5px ridge var(--dark-slate-base-accent-color);
    padding: 4px;
    margin-right: 2%;
    margin-left: 2%;
    width: 35%;
    float: right;
}

/************************************************
    Background and various window elements
************************************************/

/* Journal title */
.dark-slate-journal .window-content input[type="text"] {
    color: var(--dark-slate-header-color);
}
.dark-slate-journal .window-content input[type="text"]:hover {
    box-shadow: 0 0 10px var(--dark-slate-base-accent-color);
}

/* Background */
.dark-slate-journal .window-content {
    background: var(--dark-slate-background-texture-image);
}

.dark-slate-journal button {
    background-color: var(--dark-slate-button-background-color);
    color: var(--dark-slate-window-text-color);
    border-color: var(--dark-slate-button-hover-color);
}

.dark-slate-journal button:hover {
    background-color: var(--dark-slate-button-hover-color);
    box-shadow: 0 0 10px var(--dark-slate-base-accent-color);    
}

.dark-slate-journal ::-webkit-scrollbar-thumb {
    background: var(--dark-slate-dark-accent-color);
    border: 1px solid var(--dark-slate-base-accent-color);
}

/* Folder dropdown - upper bar */
.dark-slate-journal .editable select[name="folder"] {
    color: var(--dark-slate-window-text-color);
    background: url(../textures/dark-background-1.jpg);
}
.dark-slate-journal .editable select[name="folder"]:focus,
.dark-slate-journal .editable select[name="folder"]:hover {
    box-shadow: 0 0 5px  var(--dark-slate-base-accent-color);
}

/* Folder dropdown - the actual dropdown */
.dark-slate-journal .editable select[name="folder"] option {
    color: var(--dark-slate-window-text-color);
    background-color: var(--dark-slate-button-hover-color);
}

/*
    One Journal compatibility
*/

/* Background with OneJournal */
#OneJournalShell .dark-slate-journal.one-journal-attached .window-content {
    background: var(--dark-slate-background-texture-image);
}
/* Entry title underline with OneJournal */
.dark-slate-journal.one-journal-attached form input[name="name"] {
  border-color: var(--dark-slate-base-accent-color);
}


/************************************************
    Editor 
    OPTION - depending on if you want the editing experience to be more or less
    the same as the modified presentation, or a more streamlined editing look, it
    is here that you should look to enable, disable, or tweak things.
************************************************/

/* Background */
.dark-slate-journal .editor .tox-edit-area {
    /* background: var(--dark-slate-background-texture-image); */
    background-color: var(--dark-slate-background-color);
}

/* Buttons in edit mode */
.dark-slate-journal .editor button {
    color: var(--dark-slate-base-text-color);
    background-color: var(--dark-slate-button-background-color);
}

.dark-slate-journal .editor button:hover {
    color: var(--dark-slate-base-text-color);
    background-color: var(--dark-slate-button-hover-color);
}

/* Header bar where the buttons are in edit mode */
.dark-slate-journal .editor .tox-toolbar-overlord,
.dark-slate-journal .editor .tox-toolbar__primary {
    background-color: var(--dark-slate-background-color);
}

/* Button to go into edit mode */
.dark-slate-journal .editor-edit {
    color: var(--dark-slate-base-text-color);
    background-color: var(--dark-slate-button-background-color);
}

/* Allows for the button images to be in colour */
.dark-slate-journal .tox :not(svg):not(rect) {
	fill: var(--dark-slate-base-text-color);
	color: var(--dark-slate-base-text-color);
}

